# API Configuration
# VITE_API_BASE_URL=http://localhost:8000/api

# For production
# VITE_API_BASE_URL=https://api.perfamana.com/api

# For server deployment over IP
VITE_API_BASE_URL=http://72.62.228.151:3011/api
